.element__like {
	background: transparent;
	min-width: 22px;
	height: 19px;
	background-image: url(../../../image/elementslike.svg);
	background-repeat: no-repeat;
	left: 50%;
	right: 50%;
	margin-left: 30px;
	cursor: pointer;
	padding: 0;
	border: none;
}

.element__like:hover {
	opacity: .5;
	transition: .2s;
}