.popup__input {
   font-family: 'Inter', Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   width: 100%;
   height: 27px;
   outline: none;
   border: 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   padding: 0;
   margin-bottom: 30px;
}

.popup__input:last-of-type {
   margin-bottom: 48px;
}


@media screen and (max-width: 550px) {
   .popup__input:last-of-type {
      margin-bottom: 45px;
   }
}