.profile__button {
	background-color: transparent;
	background-image: url(../../../image/profileButton.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	min-width: 24px;
	height: 24px;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	padding: 0;
}

.profile__button:hover {
	opacity: .6;
	transition: .2s;
}

@media screen and (max-width: 320px) {
	.profile__button {
		min-width: 18px;
		height: 18px;
	}
}